<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/registration.css" />
    <link rel="stylesheet" href="/css/alert.css" />
    <link
      rel="shortcut icon"
      href="/img/barangay-logo.png"
      type="image/x-icon"
    />
    <title><%= title %></title>
    <style>
      .alert {
        left: 15%;
        margin: 0;
      }
      .home-icon {
        width: 30px;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(306deg)
          brightness(101%) contrast(105%);
      }
      .home-link {
        position: absolute;
        top: 20px;
        left: 20px;
      }
    </style>
  </head>
  <body>
    <a href="/" class="home-link"
      ><img src="/img/home.svg" class="home-icon" alt=""
    /></a>
    <%- include('./partials/error') %>

    <main>
      <div>
        <h1>a faster way of answering census on your barangay.</h1>
        <p class="description">
          Answer questions quickly and straight away from the web all the way to
          your barangay.
        </p>
      </div>

      <form action="/user/register" method="post" class="form">
        <div class="wrap-form-control">
          <div class="form-control">
            <input
              type="text"
              placeholder="First Name"
              name="firstName"
              id="firstName"
            />
            <span class="error-message"></span>
          </div>
          <div class="form-control">
            <input
              type="text"
              placeholder="Last Name"
              name="lastName"
              id="lastName"
            />
            <span class="error-message"></span>
          </div>
        </div>
        <div class="wrap-form-control logins">
          <div class="form-control">
            <input
              type="email"
              placeholder="Email Address"
              name="email"
              id="email"
            />
            <span class="error-message"></span>
          </div>
          <div class="form-control">
            <input
              type="text"
              placeholder="Username"
              name="username"
              id="username"
            />
            <img
              src="https://www.svgrepo.com/show/117084/i-letter.svg"
              class="tooltip"
              title="For Login Purposes"
              alt=""
            />
            <span class="error-message"></span>
          </div>
        </div>

        <div class="form-control">
          <input
            type="password"
            placeholder="Password"
            name="password"
            id="password"
          />
          <span class="error-message"></span>
        </div>
        <div class="form-control">
          <input
            type="text"
            placeholder="123 Maligaya Street Mag-Asawang Sapa"
            name="street"
            id="street"
          />
          <span class="error-message"></span>
        </div>
        <div class="wrap-form-control">
          <div class="form-control">
            <input type="text" placeholder="City" name="city" id="city" />
            <span class="error-message"></span>
          </div>
          <div class="form-control">
            <input
              type="text"
              placeholder="Province"
              name="province"
              id="province"
            />
            <span class="error-message"></span>
          </div>
        </div>
        <button class="btn" type="submit">Register</button>
        <span class="have-account"
          >Already registered? <a href="/login">Login here</a></span
        >
      </form>
    </main>
    <script src="/js/validateRegistration.js"></script>
  </body>
</html>
