<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/img/barangay-logo.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/alert.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/navbar') %> <%- include('../partials/success') %>
    <%- include('../partials/error') %>

    <script src="/js/loginDropdown.js"></script>
  </body>
</html>
